{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 text-right">
      {% if request.user.id == object.user.id %}
      <a class="btn btn-default btn-block" href="/articles/{{article.id}}/edit/">Edit</a>
      {% endif %}
    </div>
  </div>
<hr />

  <div class="row">
    <div class="col-xs-12">
        <h2>{{article.title}}</h2>
        <p>{{article.content}}</p>
        <p><em>Views:</em> {{article.views}}</p>
        <p><em>Comments:</em> {{article.comments}}</p>
        <p><em>Created:</em> {{article.created}}</p>

    </div>
  </div>
  <hr />

  {% if request.user %}
  <form method="post">{% csrf_token %}
    <div class="col-xs-8">
      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" value="{{form.tags.value}}" rows="3"></textarea>
      </div>
    </div>

    <div class="col-xs-4">
      <button type="submit" class="btn btn-default">Post</button>
    </div>
  </form>
  {% else %}
  <p>Please <a href="/accounts/login/">log in</a> to post a comment.</p>
  {% endif %}

  <div class="row">
    <div class="col-xs-12">
      {% for comment in comment_list %}
        <p>{{comment.comment}} <em>by</em> {{comment.author}} <em>on</em> {{comment.created}}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
