{% extends 'base.html' %}

{% block title %}Article{% endblock %}

{% block content %}
  <!-- <h1>Article</h1>
  <ul>
  {% for article in article_list %}
    <li>{{ article.created }} - {{ article.title }} - {{article.tags}}</li>
  {% empty %}
    <li>No Article yet.</li>
  {% endfor %}
  </ul> -->

<div class="row">
  <div class="col-xs-12">
    <form method="get">
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <input class="form-control input-lg" type="text" name="keyword" value="{{keyword}}" placeholder="Search">
          </div>
        </div>
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary btn-block btn-lg">Search</button>
        </div>
        <div class="col-xs-2">
          <a class="btn btn-default btn-block btn-lg" href="{% url 'article-list' %}">Clear</a>
        </div>
      </div>
    </form>
  </div>
</div>
<hr />

  <div class="row">
    <div class="col-xs-8">
      {% for article in object_list %}
      <div class="col-xs-6 col-lg-4">
        <h2><a href="/article/{{article.id}}">{{article.title}}</a></h2>
        <p>{{article.content}}</p>
        <p><em>Views:</em> {{article.views}}</p>
        <p><em>Comments:</em> {{article.comments}}</p>
        <p><em>Created:</em> {{article.created}}</p>
      </div>
      {% endfor %}
    </div>
    <div class="col-xs-4">
      {% if request.user.is_authenticated %}
      <a href="/article/create" class="btn btn-primary btn-block">Create Article</a>
      <hr />
      <br />
      {% endif %}

      {% for tag in tag_list %}
      <a href="?tag={{tag}}" style="font-size: large;">{{tag}}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
